*{
    text-decoration: none;
}
h1{font-family: sans-serif;
font-size: 40px;}
.navbar{
    background-color: rgb(70, 82, 65); padding-right: 15px;  padding-left: 15px;
}
.navdiv{display: black;
align-items: center;
justify-content: space-between;
}
.logo a{
    font-size: 15px; font-weight: bold; color: white; padding-left: 10PX; justify-items: first baseline;

display: grid;}
li  {
    list-style: none; display: inline-block;
}
li a{
    color: white; font-size: 18px; font-weight: bold;margin-top: 18px; 
}
